doctype html 

html 
  head
    link(
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    )
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
    )
    style
      include style.css

  body
    .center
      include logo.html
      .title Telemetry Warehouse

      p.desc
        | Thank you for your interest in the BC Telemetry Warehouse #{firstName}.  Please submit a reason for requesting access below.

      form
        .input-field
          i(class='material-icons prefix') mail_outline
          textarea(id='icon_prefix' type='email' class='materialize-textarea')
          label(for='icon_prefix') Reason for requesting access
        a(
          class='waves-effect waves-light btn'
          onclick='clicked()'
        ) Submit


    script(
      type='text/javascript'
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    )
    script
      include logic.js 